.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .teko-font {
    font-family: "Teko", sans-serif;
    font-weight: 500;
  }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-light .tooltiptext {
  background-color: #15191f;
  color: #f5f5f5;
}

.tooltip-dark .tooltiptext {
  background-color: #f5f5f5;
  color: #15191f;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
